<app-navbar></app-navbar>

<div class="container">
  <!-- example 1 -->
  <app-card class="card">
    <h1>{{ globalMessage$ | async }}</h1>
    <div>
      <button (click)="dispatchActionA()">message A</button>
      <button (click)="dispatchActionB()">message B</button>
    </div>
  </app-card>

  <!-- example 2 -->
  <!-- <app-post></app-post>
  <button (click)="changeFooterData()">Change Footer Data</button> -->
</div>
<!-- example 2 -->
<!-- <app-footer [footerData]="footerData"></app-footer> -->
